<!DOCTYPE html>
<head>
  <html lang="en">
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/prof.css') }}" />
</head>

<body>
  <div id="page-wrapper" >
  <!-- Header -->
    <section id="header" class="wrapper">

      <!-- Nav -->
        <nav id="nav">
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="left.html">Left Sidebar</a></li>
            <li><a href="right-sidebar.html">Right Sidebar</a></li>
            <li><a href="/profile">profile</a></li>
            <li>
              <a href="#">Dropdown</a>
              <ul>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Magna veroeros</a></li>
                <li><a href="#">Etiam nisl</a></li>
                <li>
                  <a href="#">Sed consequat</a>
                  <ul>
                    <li><a href="#">Lorem dolor</a></li>
                    <li><a href="#">Amet consequat</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam nisl</a></li>
                    <li><a href="#">Sed feugiat</a></li>
                  </ul>
                </li>
                <li><a href="#">Nisl tempus</a></li>
              </ul>
            </li>
          </ul>
        </nav>
    </section>
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main", >
      <div class="container-fluid">
        
        <!-- Brand
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">User profile</a> -->
     
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?b=1&s=170667a&w=0&k=20&c=-qQGlKM8OQsSJCEkHnqS9FI94VRTkZ-7tg0K0u02XL0=">
                  
                </span>
                <!-- <input style="display: none;" type="file" name="userPhoto" id="image-upload" />
                <input type="hidden" name="deleteUserPhoto" value="1" />
                style="display: -->
                <div class="media-body ml-2 d-none d-lg-block">
                  <!-- <span class="mb-0 text-sm  font-weight-bold">Name</span> -->
                </div>
              </div>
            </a>

          </li>
        </ul>
      </div>
    </nav>

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCN-jlbDb0VMUclVd9RLaoLkHRV4NbAr1e4Q&usqp=CAU); background-size: cover; background-position: center top;">

      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello! </h1>
            <!-- <a href="#!" class="btn btn-info">Save</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?b=1&s=170667a&w=0&k=20&c=-qQGlKM8OQsSJCEkHnqS9FI94VRTkZ-7tg0K0u02XL0=" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">0</span>
                      <span class="description">Recipes</span>
                      
                    </div>
                 
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  Perry Donham<span class="font-weight-light"></span>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <!-- <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div> -->
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="deadheadfanforever">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="username@example.com" value="perrydonham@kidpub.com">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Perry">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Donham">
                      </div>
                    </div>
                  </div>
                </div>
                
                
                <a href="#!" class="btn btn-info">Save</a>
</body>