<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Convenient Recipes | Login and Sign up</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/sign_in_up.css') }}" />

</head>
<body>
<!-- partial:index.partial.html -->
<!--
  This was created based on the Dribble shot by Deepak Yadav that you can find at https://goo.gl/XRALsw
  I'm @hk95 on GitHub. Feel free to message me anytime.
-->
<section class="user">
  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Don't have an account?</h2>
        <p class="user_unregistered-text">Click to become our new user.</p>
        <button class="user_unregistered-signup" id="signup-button">Sign up</button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title">Have an account?</h2>
        <p class="user_registered-text">Welcome back! Click to log in with your existing account.</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>
    
    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>
        <form class="forms_form" action="{{ url_for('sign_in_up')}}" method="POST"> 
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input name="loginEmail" placeholder="Email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
              <input name="loginPassword" placeholder="Password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" name="submit" value="Log In" class="forms_buttons-action">
          </div>
        </form>
      </div>
      <div class="user_forms-signup">
        <h2 class="forms_title">Sign Up</h2>
        <form class="forms_form" action="{{ url_for('sign_in_up')}}" method="POST">  
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input name="signupUsername" placeholder="Username" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input name="signupEmail" placeholder="Email" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input name="signupPassword" placeholder="Password" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input name="confirm" placeholder="Confirmed Password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
            <input type="submit" name="submit" value="Sign up" class="forms_buttons-action">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- partial -->
<script src="{{url_for('static', filename='js/sign_in_up.js')}}"></script>

</body>
</html>
